<header>
  <nav>
    <div class="nav-left">
      <a href="/" class="brand">Book Notes</a>
      <a href="/">Home</a>
    </div>
    <div class="nav-right">
      <% if (session && session.userId) { %>
        <form action="/api/auth/logout" method="POST" class="nav-form">
          <button type="submit" class="nav-button">Logout</button>
        </form>
      <% } else { %>
        <a href="/login" class="nav-link">Login</a>
        <a href="/signup" class="nav-link">Sign Up</a>
      <% } %>
    </div>
  </nav>
</header>
